# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. SQL
4. Julia
5. Matlab

### Some of the commonly used libraries used by Data Scientists include:

1.Panda

2.NumPy

3.Seaborn

4.PyTorch

| Data Science Tools     |
|------------------------|
| Jupyter Notebooks      |
| RStudio                |
| VSCode                 |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
a=2
b=10
c=a+b
print(c)

12

In [20]:
a=2
b=10
c=b-a
print(c)

8

In [21]:
a=2
b=10
c=b*a
print(c)

20

In [22]:
a=2
b=10
c=b/a
print(c)

5.0

In [26]:
 #This a simple arithmetic expression to mutiply then add integers

result=(3*4)+5

print(result)

17

In [25]:
result=(200/60)

print(result)

3.3333333333333335

**Objectives**

- Python
- R
- SQL
- C++
- Julia

## Author: Maria Shariatnasery